// SASS

@import "../node_modules/rfs/scss";

.title {
  @include font-size(2rem);
}

// CSS

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  // height: 100vh;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #242b40;
  color: white;
}

.title,
#location {
  color: white;
}

/* Change color when link element is hovered */
.logo > a:hover > .svg path {
  fill: greenyellow;
}

.logo > a:not(:hover) > .svg path {
  fill: white;
}

.logo {
  height: 50px;
}

.customTooltip {
  position: relative;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0.7;
  white-space: nowrap;
  font: 10pt sans-serif;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .aside {
    position: absolute;
    top: 15%;
    right: 3%;
    border-radius: 25px;
    background: #73ad21;
    padding: 20px;
    width: 200px;
    height: 250px;
  }
}

/* remaining devices (991px and down) */
@media only screen and (max-width: 991px) {
  .aside {
    display: none;
  }
}
