// SASS

@import "../node_modules/rfs/scss";

.title {
  @include font-size(2rem);
}

// CSS

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 150vh;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #242b40;
  color: white;
}

.title,
#location {
  color: white;
}

/* Change color when link element is hovered */
.logo > a:hover > .svg path {
  fill: greenyellow;
}

.logo > a:not(:hover) > .svg path {
  fill: white;
}

.logo {
  height: 50px;
}
